<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002176910690-dg6t4pdnvdeblobm6n49pp1885kdribs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002176910690-dg6t4pdnvdeblobm6n49pp1885kdribs</string>
	<key>API_KEY</key>
	<string>AIzaSyBHOkiyjs601cjgpkusFkxZfrWdANWEq-o</string>
	<key>GCM_SENDER_ID</key>
	<string>1002176910690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterOfRandom.tablePick</string>
	<key>PROJECT_ID</key>
	<string>eathub-be921</string>
	<key>STORAGE_BUCKET</key>
	<string>eathub-be921.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002176910690:ios:0d373c305e82cb2192883b</string>
</dict>
</plist>